<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onLoadNewPlace()">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Awesome place
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<button ion-button type="button" name="button" (click)="onLoadNewPlace()">Add a Place</button>-->
  <!--<ul>
    <li *ngFor="let place of places">{{ place.title }}</li>
  </ul>-->
  <ion-list>
  <!--    <ion-item *ngFor="let place of places">{{ place.title }}</ion-item> -->
    <ion-item *ngFor="let place of places" (click)="onOpenPlace(place)">{{ place.title }}</ion-item>
  </ion-list>

</ion-content>
